canvas {
    display: block;
    margin: auto; /* centers the canvas */
}

html, body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    color: #434343;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3 {
    color: #BC88C2;
    text-align: center;
    margin: 2rem;
    font-family: Helvetica, sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.6;
   /* margin: 40px;*/
    text-align: center;
    font-family: Helvetica, sans-serif;
}

a, a:visited {
  color: #B119C2;
}

#defaultCanvas0 {
  width: 25rem !important;
  height: 25rem !important;
}

button {
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0.7rem;
  margin-left: 0.5rem;
  color: white;
  background: #BC88C2;
  cursor: pointer;
}

button:hover {
  background: #B119C2;
}

.centered {
    padding: 0.5rem;
}

@media (max-width: 800px) {
    h1, h2, h3 {
        font-size: 6vw; /* Larger text on small screens */
    }

    p {
        font-size: 3vw; /* Slightly larger paragraph text */
    }

    button {
        font-size: 3vw; /* Larger font size for buttons */
        padding: 0.75em 1.5em; /* Larger padding for better touch target */
    }
  
    #defaultCanvas0 {
      width: 75vw !important;
      height: 75vw !important;
    }
}
